/使用说明.txt
/backup
/IIS
/SQL-Front
/tmp
/tools
/wchat
/WWW
/资料
/manual.chm
/phpshao.dll
/phpStudy.exe
/phpStudy官网.url
/Apache/modules
/Apache/bin
/Apache/cgi-bin
/Apache/logs
/MySQL/share
/MySQL/bin
/MySQL/data
/MySQL/lib
/nginx/nginx.exe
/nginx/contrib
/nginx/html
/nginx/logs
/nginx/temp
/php/*.dll
*.dll
*.exe
*.gif
*.key
*.crt
*.types
*.phar